extend ../common
block style
    style.

        #footer{margin-top:0}
block main
    .guarantee_banner
    .guarantee_bg1
        .guarantee_about
            .guarantee_tit 公司介绍
            p 金投手金融信息服务（北京）有限公司是经北京市海淀区金融办批准成立的国资互联网金融信息中介服务平台由北京粮油交易所、中建国能等央企法人发起，成立于
                b 2013
                |年
                b 6
                |月
                b 14
                |日，实缴注册资本金5000万元。
        div(style='padding-top:348px;')
            .guarantee_titbg.guarantee_titbg1
                .guarantee_tit 一重保障：业务模式
            .text-center.pad-top-75
                img(src=website+'/images/security/guarantee_1.png')
    .guarantee_bg2
        div(style='padding-top:110px;')
            .guarantee_titbg.guarantee_titbg2
                .guarantee_tit 二重保障：平台实力
            .guarantee_box
                .row
                    .col-33
                        .tit
                            img(src=website+'/images/security/guarantee_icon1.png')
                            p 股东机构实力保障
                        .centent
                            p(style='padding-left:50px;') 1/ 大型国资控股；
                            p(style='padding-left:50px;') 2/ 北京粮油交易所信用背书。
                    .col-33
                        .tit
                            img(src=website+'/images/security/guarantee_icon2.png')
                            p 专业风控实力保障
                        .centent
                            p
                                i 1/
                                span 行业资深风控团队具备行业性风险管理经验，具备强大的筛选优质资产的风控能力；
                            p
                                i 2/
                                span 采用先进完备的风控管理体系，线下现场尽调结合线上实时数 据采集分析 ；
                            p
                                i 3/
                                span 资金闭环管理，回款轨迹清晰可控。
                    .col-33
                        .tit
                            img(src=website+'/images/security/guarantee_icon3.png')
                            p 稳健经营实力保障
                        .centent
                            p
                                i 1/
                                span 经营周期完备，历经网贷行业周期波动考验；
                            p
                                i 2/
                                span 经营模式规范，严格控制操作风险；
                            p
                                i 3/
                                span 商业模式严密，具备独特的核心竞争力。
    .guarantee_bg3
        .text-center(style='padding-top:110px;')
            .guarantee_titbg.guarantee_titbg1
                .guarantee_tit 三重保障：资金安全
            p 浙商银行资金存管
            img(src=website+'/images/security/guarantee_2.png')
    .guarantee_bg4
        div(style='padding-top:110px;')
            .guarantee_titbg.guarantee_titbg2
                .guarantee_tit 四重保障：信息安全
            p.text-center(style='color:#fff;') 公安部国家信息安全等级保护三级认证
        .guarantee_box
            .row
                .col-33
                    img(src=website+'/images/security/guarantee_icon4.png')
                    div 专属金融云架构
                .col-33
                    img(src=website+'/images/security/guarantee_icon5.png',style='margin-top:46px;')
                    div 专线隔离网络
                .col-33
                    img(src=website+'/images/security/guarantee_icon6.png',style='margin-top:35px;')
                    div 数据双向加密认证
            .row
                .col-33
                    img(src=website+'/images/security/guarantee_icon7.png',style='margin-top:37px;')
                    div 安全审计
                .col-33
                    img(src=website+'/images/security/guarantee_icon8.png',style='margin-top:35px;')
                    div 全数据异地灾备
                .col-33
                    img(src=website+'/images/security/guarantee_icon9.png',style='margin-top:46px;')
                    div 敏感数据脱敏
    .guarantee_bg5
        .text-center(style='padding-top:110px;')
            .guarantee_titbg.guarantee_titbg1
                .guarantee_tit 前往财富增值之旅
        a.guarantee_btn(href='#') 立即投资
block script
    include ../jslib/otherjs


