extend ../common
block main
block position
    - var position=true
block leftnav
    -var leftnav=true
block right_help
    .right_xxpl#tabs
        h3 合作伙伴
        .partner-detail
            h4
                a(href='javascript:;').left.active#left-title 金融机构
                a(href='javascript:;')#right-title 央企机构
            table#one(cellpadding='0',cellspacing='0')
                tbody
                    tr
                        td#td_1(onclick='clickTD(1,this);') 海通证券
                        td#td_2(onclick='clickTD(2,this);') 金谷信托
                        td#td_3(onclick='clickTD(3,this);') 北京股权交易中心
                        td#td_4(onclick='clickTD(4,this);') 中合担保
                        td#td_5(onclick='clickTD(5,this);') 中投国泰
                    tr
                        td#td_6(onclick='clickTD(6,this);') 中商融通
                        td#td_7(onclick='clickTD(7,this);') 中融创盈
                        td#td_8(onclick='clickTD(8,this);') 连连支付
                        td#td_9(onclick='clickTD(9,this);') 开通金融
                        td#td_10(onclick='clickTD(10,this);') 中城建信
                    tr
                        td#td_11(onclick='clickTD(11,this);') 溢美金融
                        td#td_12(onclick='clickTD(12,this);') 普惠金交

            table#two(cellpadding='0',cellspacing='0').hidden
                tbody
                    tr
                        td#td_13(onclick='clickTD(13,this);') 中国联通
                        td#td_14(onclick='clickTD(14,this);') 中国建筑
                        td#td_15(onclick='clickTD(15,this);') 中国农业机械网
                        td#td_16(onclick='clickTD(16,this);') 中国纺织网
                        td#td_17(onclick='clickTD(17,this);') 中国铁建股份有限公司
                    tr
                        td#td_18(onclick='clickTD(18,this);') 中国储备粮管理公司
                        td#td_19(onclick='clickTD(19,this);') 中国三治集团有限公司
                        td#td_20(onclick='clickTD(20,this);') 中国纸业

            div#div1.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner01.png')
                p 海通证券股份有限公司成立于1988年，海通证券前身是上海海通证券公司。目前海通证券在境内外拥有300余家营业部，拥有500万零售客户和超过1.2万个机构客户及高净值客户，客户资产规模超万亿元。拥有海通资产管理、海富通基金和富国基金等专业资产管理子公司，资产管理总规模逾5000亿元。
                div.text-center.code
                    img(src=website+'/images/aboutus/haitongzhengjuan.png')
                p
            div#div2.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner02.png')
                p 中国金谷国际信托有限责任公司(以下简称“金谷信托”或“公司”，原名中国金谷国际信托投资有限责任公司)是在原全国人大副委员长、中华全国妇女联合会主席陈慕华同志倡导下，于1993年4月经中国人民银行批准成立的非银行金融机构。金谷信托目前注册资本为22亿元人民币，公司股东为中国信达资产管理股份有限公司、中国妇女活动中心和中国海外工程有限责任公司。
            div#div3.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner03.png')
                p 北京股权交易中心有限公司是在国家有关金融管理部门的指导下，由北京市政府批准设立，专门为北京市企业特别是中小微企业提供融资服务的私募市场，是多层次资本市场的重要组成部分。其主要职能是：为北京市非上市企业股权、债权和其他权益类产品的登记、托管、结算等提供场所、设施和服务，组织和监督交易活动，管理和发布市场交易信息，监督管理挂牌企业和会员中介机构，做好投资者适当性管理，为企业进场挂牌提供咨询等综合服务;从事金融产品和服务创新，拓展业务范围。
            div#div4.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner04.png')
                p 中合中小企业融资担保股份有限公司(以下简称“公司”或“中合担保”)注册资本为51.26亿元人民币，是中外合资的融资担保机构。公司由中方和外方共7家股东共同发起设立。目前，公司已与14家银行建立战略合作关系，授信额度超过700亿元人民币。与多家证券公司、信托公司、财务公司、评级公司建立了业务和战略合作关系。
            div#div5.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner05.png')
                p 中投国泰融资担保有限公司（以下简称“中投国泰”或“公司”）成立于2010年3月，2013年经北京市房山区发改委批准战略重组，注册资本金人民币3亿元整。公司由北京市房山城市投资发展有限责任公司、北京市设备安装工程集团有限公司、北京盛德科技有限公司三家股东共同出资组建，是北京市房山区政府、发改委领导下的国有控股融资担保公司，担保行业信用评级为A。
            div#div6.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner06.png')
                p 中商融通商业保理有限公司于2015年1月成立，注册资本1亿元，为中商国能投资（集团）有限公司全资子公司。集团实力雄厚，是中国宋庆龄基金会下属（国有）独资公司，同时也是内外资源优势为一体的综合型投融资集团，总资产达30多亿元。公司是一家依法设立、规范运营的专业性商业保理企业，致力于为设备制造、医疗、工程机械、通讯、交通运输、能源电力等行业的企业提供应收账款融资服务。
            div#div7.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner07.png')
                p 中融创盈商业保理有限公司成立于2015年9月11日，为国有背景的中投国泰融资担保有限公司的全资子公司，注册资本5000万元，公司保理业务经营范围主要为：国际国内保理业务、资信审查咨询、信用风险咨询及投资管理咨询等。中融创盈保理为北京商业保理协会创始会员单位，管理团队有着丰富的供应链融资管理经验。
            div#div8.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner08.png')
                p 连连银通电子支付有限公司是浙江省级高新企业，成立于2003年，注册资金1.05亿元。2011年8月获得人民银行颁发的支付许可证，为浙江省第二家获得该业务许可的企业。业务涵盖全国范围的互联网支付、移动手机支付业务。2013年11月，连连支付获得中国人民银行义乌市支行的批准许可，与中国银行义乌分行合作开展跨境人民币收支业务。
            div#div9.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner09.png')
                p 开通金融信息服务（北京）有限公司（以下简称：开通金融）是一个创新型的企业级金融科技服务商，为金融资产通过互联网平台发行提供完整的技术支持及解决方案。 开通金融由中合担保和人人贷战略投资，经北京市金融工作局批准设立。开通金融拥有互联网金融资产实时报价平台，能为客户提供互联网金融平台通过各地方交易所市场发行的产品信息、报价服务以及更多的数据衍生产品。
                p 通过开通金融的交易所实时登记结算系统，互联网平台可以与全国各地方交易所系统实现实时连接，进行产品的发行销售。系统还兼具二级市场实时转让登记、信息披露、还款试算和资产管理支持等功能。
                p 此外，小微贷业务管理系统能为金融机构提供专业的微贷运营流程管理工具、微贷数据分析及贷中监控服务。
            div#div10.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner10.png')
                p 中城建信商业保理有限公司经国家工商总局、深圳市商务委员会核准，于2015年6月在深圳市市场监督管理局注册成立，现为商业保理专业委员会常务副主任单位，总部办公地址位于北京望京核心区域。
                p 中城建信保理由专业从事城市开发投资建设的大型企业——中国城市建设控股集团有限公司和经中国银监会批准设立的国有非银行机构——厦门国际信托有限公司两家机构共同投资设立，注册资本金3亿元人民币，是国内投资规模最大的商业保理公司之一。中城建信保理的经营理念是：稳健、高效、专业、创新。
            div#div11.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner11.png')
                p 溢美金融创建于2011年10月，主营业务为商旅、企业用车、个人消费金融及保理业务。以金融为基础，为企业出行提供全场景解决方案，溢美创造独有的“溢美模式”即“互联网+商旅+金融”商务出行服务平台。相继在2012-2014年间，获得险峰华兴、挚信、联电三轮融资。2015年产品全面升级改版，成功推出了企业商务出行一站式解决方案。同年9月，溢美金融宣布与“滴滴出行”企业版组成联合伙伴，以金融方式助力企业出行，联合推出“车马泡”企业出行的全新模式。多年被评为《年度最具创新活力互联网金融企业》、《中国互联网金融理财十大领先品牌》。2016年溢美在商务出行业务上将完成10万家企业合作规模，打造中国市场的“美运通”。天津溢美国际保理有限公司为溢美金融全资子公司，于2012年经国家商务部批准，在天津注册成立，注册资本5000万，成为国内首批商业保理公司，运营总部设在北京。
            div#div12.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner12.png')
                p 普惠金融交易中心（大连）有限公司（下称：普惠金融交易中心）隶属于中国供销集团，普惠金融交易中心旨在为金融资产、各类收益权提供交易挂牌登记托管结算服务；开展金融产品设计、发行、管理、交易及配套的登记挂牌托管结算服务；聚拢互联网金融公司、小贷公司、担保公司、典当公司、基金公司、信托公司、资产管理公司、银行、保险公司等金融机构资源，搭建金融资产挂牌交易平台。具体业务包括债权收益权转让、小额贷款收益权转让、应收账款收益权转让、租赁资产收益权转让、定向资产融资产品、供应链金融、票据资产交易、不良资产交易与转让。
            div#div13.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner13.png')
                p 中国联合网络通信集团有限公司（简称“中国联通”）于2009年1月6日在原中国网通和原中国联通的基础上合并组建而成，在国内31个省（自治区、直辖市）和境外多个国家和地区设有分支机构，是中国唯一一家在纽约、香港、上海三地同时上市的电信运营企业，连续多年入选“世界500强企业”。中国联通的收入规模、用户规模及上市公司市值均位居全球电信运营商的前列。
            div#div14.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner14.png')
                p 中国建筑工程总公司（以下简称中建总公司）正式组建于1982年，其前身为原国家建工总局，是为数不多的不占有大量的国家投资，不占有国家的自然资源和经营专利，以从事完全竞争性的建筑业和地产业为核心业务而发展壮大起来的国有重要骨干企业。中建总公司目前经营区域主要分布于全球二十七个国家和地区，在国内除台湾省外均有经营业务开展。
            div#div15.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner15.png')
                p 中国农业机械网是国内农业机械设备领域最大的网络信息服务平台;在网站经营和发展战略上得到浙江大学MBA的全力支持，以其“专业性强，信息活跃，优质服务，回报可靠”等特点立即受到广大客户的一致好评。在化工、制药、食品、环保等专业机械设备领域已经形成具有影响力的B2B垂直电子商务网站。中国农业机械网围绕农业机械的销售、采购、使用管理和农业机械技术服务，以信息+专业知识为服务理念和增值服务模式。
            div#div16.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner16.png')
                p 中国纺织网是中国专业纺织行业网站之一，数据丰富、访问量高的纺织专业人士的首选平台。网站拥有专业的纺织搜索引擎和纺织产品数据库，内含全球 80，000多个纺织站点和500,000余条产品信息，内容涵盖商业机会、国际求购、纺织配额、新闻中心、政策法规等纺织行业的方方面面，日访问率达800,000人次，在同行业内占有50%以上的市场份额。中国纺织网将充分利用互联网的优势，为传统的纺织企业在信息服务方面提供全方位的服务，包括企业站点建设、纺织信息服务以及企业网站推广和贸易撮合等服务。
            div#div17.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner17.png')
                p 前身是铁道兵的中国铁建股份有限公司(中文简称中国铁建，英文简称CRCC)，由中国铁道建筑总公司独家发起设立，于2007年11月5日在北京成立，为国务院国有资产监督管理委员会管理的特大型建筑企业。公司业务涵盖工程建筑、房地产、工业制造、物资物流、特许经营、矿产资源及金融保险。经营范围遍及除台湾以外的全国31个省(市)、自治区和香港、澳门特别行政区以及世界80多个国家和地区。
            div#div18.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner18.png')
                p 中储粮总公司是经国务院批准组建的涉及国家安全和国民经济命脉的国有大型重要骨干企业。中储粮总公司受国务院委托，具体负责中央储备粮(含中央储备油，下同)的经营管理，同时接受国家委托执行粮油购销调存等调控任务，在国家宏观调控和监督管理下，实行自主经营、自负盈亏。中储粮总公司成立于2000年，注册资本166.8亿元。总公司在国家计划、财政中实行单列。
            div#div19.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner19.png')
                p 中国三冶集团有限公司是中国冶金科工股份有限公司(简称中国中冶)的全资子公司，公司注册资本8亿元。 中国三冶集团有限公司成立于1952年，有着60余年的辉煌历程，是新中国创建的第一批拥有专业配套、工种齐全、技术先进、具有综合施工生产能力的大型综合性施工企业。改革开放30 年来，公司跨国家、跨行业、跨地区、全方位拓宽施工领域，足迹遍布全国20余个省(直辖市)，60多个市(地区)及欧洲、亚洲、非洲和拉丁美洲等国家和地区，先后获得国家质量金、银、铜奖和省部优质奖150余项。
            div#div20.hidden
                div.text-center
                    img(src=website+'/images/aboutus/partner20.png')
                p 中国纸业投资有限公司(中文简称“中国纸业”，英文简称“CHINA PAPER”)是国务院国资委监管的大型企业集团——中国诚通控股集团有限公司的全资子公司，是以林浆纸生产、开发及利用为主业的国有大型企业。中国纸业投资有限公司致力于发展成具有市场领导地位的国际化纸业集团，在不断完善产业链的同时，自觉履行社会责任，实现绿色环保，提供更加优质的产品和服务，向股东回馈更加丰厚的回报。
block script
    include ../jslib/aboutus/hzhbjs